importFrom(PMA, SPC.cv, SPC)
importFrom(rsample, vfold_cv, training, testing)
importFrom(MASS, qda, lda)
importFrom(SCPME, shrink)
importFrom(HDShOP, InvCovShrinkBGP16)
importFrom(CVglasso, CVglasso)
importFrom(Matrix, Matrix, expm)
S3method(print, sdr)
S3method(predict, sdr)
S3method(predict, HDsdr)
export(sdr, dim_order, HDsdr)